.accordion-left {
	font-family: 'Open Sans', sans-serif;
	width: 30%;
	text-align: center;
	float: left;
}

.accordion-parent {
    text-align: left;
}

.accordion-text-left {
	font-weight: lighter;
	font-size: 12px;
}

.accordion-text-header-left {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

#accordion {
	width: 80%;
	margin-left: 10%;
}


#accordion .ui-accordion-content {
    color: #777;
    font-size: 10pt;
    line-height: 16pt;
}

#accordion .ui-accordion-header a {
    color: #fff;
    line-height: 42px;
    display: block;
    font-size: 12pt;
    width: 100%;
    text-indent: 10px;
}

#accordion .ui-accordion-header {
    margin: 0px;
}


#accordion .ui-accordion-content a {
    color: #777;
}

#accordion .ui-accordion-content > * {
    margin: 0;
    padding: 20px;
}

#accordion .ui-accordion-header a {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}

#accordion .ui-accordion-content {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4),
                inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
#accordion .ui-accordion-content:last-of-type {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
                inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}