#about-me-anchor {
	position: absolute;
	top: 850px;
}

#background-anchor {
	position: absolute;
	top: 1685px;
}

#my-work-anchor {
	position: absolute;
	top: 2180px;
}

#my-skills-anchor {
	position: absolute;
	top: 4550px;
}

#contact-anchor {
	position: absolute;
	top: 5760px;
}

#visualizer-anchor {
	position: absolute;
	top: 6600px;
}