#my-work {
    background: white;
}

#more_experience {
	display: none;
}

#more_experience_button {
	text-align: center;
	margin: 30px;
	margin-left: 42%;
	margin-bottom: 15px;
}

.hr-content-separator {
    /*border-top: 1px solid #fff;*/
	box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
	-moz-box-shadow: 0 0 1px #ccc;
	width: 50%;
	margin-bottom: 10px;
	margin-top: 15px;
}

.work-details {
	position: relative;
	/*padding-top: 20px;*/
	/*width: 20%;*/
}

.left-image-column {
	padding-top: 15px;
	padding-left: 10%;
	float: left;
	position: relative;
	display: inline-block;
	text-align: right;
}


.left-experience {
	margin-top: 20px;
	vertical-align: top;
	text-align: center;
	width: 20%;
	position: relative;
	display: inline-block;
}

.right-experience {
	vertical-align: top;
	text-align: left;
	width: 75%;
	position: relative;
	display: inline-block;
}

#kathmandu {
	height: 240px;
}

#gonzoft {
	height: 230px;
}

#vp-1 {
	height: 250px;
}

#vp-2 {
	height: 260px;
}

#accenture {
	height: 240px;
}

#latinux {
	height: 430px;
}

#elepe {
	height: 200px;
}
