#my-work {
    background: white;
    padding-bottom: 20px;
}

#my-work-anchor {
	position: absolute;
	top: 1895px;
}

.hr-content-separator {
    border-top: 1px solid #ccc;
	box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
	-moz-box-shadow: 0 0 1px #ccc;
	width: 80%;
}

.work-details {
	position: relative;
	padding-top: 20px;
	/*width: 20%;*/
}

.left-image-column {
	padding-top: 15px;
	padding-left: 10%;
	float: left;
	position: relative;
	display: inline-block;
	text-align: right;
}

#kathmandu {
	height: 240px;
}

#gonzoft {
	height: 230px;
}

#vp-1 {
	height: 250px;
}

#vp-2 {
	height: 260px;
}

#accenture {
	height: 240px;
}

#latinux {
	height: 430px;
}

#elepe {
	height: 200px;
}
