.connect {
	margin-left: auto ;
  	margin-right: auto ;
	text-align: center;
	padding-top: 15px;
}

.connect-elements {
	text-align: center;
	margin-left: 1%;
}

.connect-element {
	text-align: center;
	width: 9%;
	padding-top: 10px;
	float: left;
    position: relative;
    display: inline-block;
}

.connect-title {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}

.connect-element-title {
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	color: lightgrey;
	margin-bottom: 5px;

}

.connect-element-text {
	text-align: left;
	font-size: 14px;
}


#footer {
	background-color: #323232;
	height: 160px;
}