/*Smaller*/
#main-header.small {
  height: 60px;
  opacity: 0.9;
}
.english-lang.small {
	right: 45px;
    top: -10px;
    position: absolute;
}
.spanish-lang.small {
	right: 1px;
    top: -10px;
    position: absolute;
}
.go-top-element.small {
	left: 53px;
    top: 10px;
    position: absolute;
}
.go-bottom-element.small {
	left: 8px;
    top: 10px;
    position: absolute;
}
.header-centered.small {
	top: 20px;
}


.header {
  background: #26b;
  color: #fff;
  position:fixed;
  z-index: 9999;
  transition: height 500ms, background 500ms;
}

.navigation-elements {
	padding: 8px;
	position: absolute;
}

.language-element {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;	
}


.english-lang:hover {
	box-shadow: 0 0 20px blue;
	-webkit-box-shadow: 0 0 20px blue;
	-moz-box-shadow: 0 0 20px blue;
}

.spanish-lang:hover {
	box-shadow: 0 0 20px red;
	-webkit-box-shadow: 0 0 20px red;
	-moz-box-shadow: 0 0 20px red;
}

.language-holder {
	margin-top: -60px;
	position: fixed;
	opacity: 1;	
  	z-index: 1003;
	right: 1%;
}

.header-centered {
	font-size: 18px;
	position: relative;
  	top: 40px;
	text-align: center;
	font-family: "Univers LT W01 55 Roman", Arial, sans-serif;
}



#nice-image {
	margin-top: 60px;
}

#top-anchor {
	position: absolute;
	top: 1px;
}

.go-top {

}

#main-header {
	background-color: #323232;
	/*background-color: white;*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    border-bottom: thin solid gray;
	top: 0;
	width: 100%;
	height: 100px;
	position: fixed;
    overflow: hidden;
    z-index: 1000;
}

.menu-item {
	text-decoration: none;
	color: black;
}

.menu-item:hover {
    cursor: pointer;
    color: gray;
    text-decoration: underline;   
}