#nice-image {
	margin-top: 60px;
}

#top-anchor {
	position: absolute;
	top: 1px;
}

#main-header {
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    border-bottom: thin solid gray;
	top: 0;
	width: 100%;
	background-color: white;
	height: 100px;
	position: fixed;
    overflow: hidden;
    z-index: 1000;
}

.menu-item {
	text-decoration: none;
	color: black;
}

.menu-item:hover {
    cursor: pointer;
    color: gray;
    text-decoration: underline;   
}