html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
    font-family:'Open Sans', sans-serif;
}

.left-column {
	padding-left: 200px;
	float: left;
	position: relative;
	display: inline-block;
	width: 350px;
	text-align: left;
}

.middle-column {
	position: relative;
	display: inline-block;
	width: 350px;
	text-align: left;
}

.right-column {
	padding-right: 200px;
	float: right;
	position: relative;
	text-align: left;
	display: inline-block;
	width: 350px;
}

.hr-content-separator {
    border-top: 1px solid #ccc;
	box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
	-moz-box-shadow: 0 0 1px #ccc;
	width: 600px;
}

.top-block-title {
	font-size: 42px;
	font-weight: 100;
}

.hr_square {
	position: relative;
	width: 11px;
	height: 11px;
	bottom: 27px;
	left: 50%;
	margin-left: -5px;
	background-color: #8b8b8b;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.menu-item {
	text-decoration: none;
	color: black;
}

.menu-item:hover {
    cursor: pointer;
    color: gray;
    text-decoration: underline;   
}

.centered {
	font-weight: bold;
	font-size: 18px;
	position: relative;
  	top: 30%;
	text-align: center;
	font-family: "Univers LT W01 55 Roman", Arial, sans-serif;
}

.horizontal {
	display: inline-block;
	margin-left: 20px;
}

.left-float {
	float: left;
	padding-left: 20px;
}

.center-float {
	position: relative;
	text-align: center;
	left: 44%;
}

.right-float {
	float: right;
	padding-right: 20px;
}

.block-name {
	font-size: 36px;
	padding-top: 40px;
}

.content-text {
	font-weight: lighter;
	text-decoration: none;
	font-size: 16px;
	font-family: "Univers LT W01 55 Roman", Arial, sans-serif;
}

#prof_text {
	top: 500px;
	left: 500px;
	font-size: 24px;

}

#content {
	margin-top: 80px;
}

#name_over_bg {
	position: absolute;
	top: 480px;
	left: 620px;
	z-index: 900;
	text-align: center;
	font-size: 48px;
	color: white;
	font-family: "Univers LT W01 55 Roman", Arial, sans-serif;
}

#page-wrapper {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

textarea {
	padding:5px; border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text] {
	padding:5px; border:2px solid #ccc; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text]:focus {
	border-color:#333; 
}

input[type=submit] {
	padding:5px 15px;
	ackground:#ccc; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}


