.english-lang {
	margin-top: -60px;
	/*background-color: #8b8b8b;*/
	position: fixed;
	opacity: 1;	
  	z-index: 1002;
	left: 92%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;	
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url("images/english.jpg") no-repeat;
}

.spanish-lang {
	margin-top: -60px;
	/*background-color: #8b8b8b;*/
	position: fixed;
	opacity: 1;	
  	z-index: 1003;
	left: 95%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;	
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url("images/spanish.jpg") no-repeat;
}

.circular-small {
	margin-top: 70px;
	/*background-color: #8b8b8b;*/
	position: fixed;
	opacity: 1;	
  	z-index: 1002;
	left: 48.3%;
	width: 58px;
	height: 58px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;	
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url("images/go_up.jpg") no-repeat;
}

.circular {
    max-width: 300px; 
    /*max-height: 300px;*/
	margin: 20px;
	left: 40%;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url("images/person_1.jpg") no-repeat;
}