#my-work {
    background: white;
    padding-bottom: 20px;
    /*height: 1500px;*/
}

#my-work-anchor {
	position: absolute;
	top: 1935px;
}

.work-details {
	padding-top: 10px;
}

.left-image-column {
	padding-top: 15px;
	padding-left: 200px;
	float: left;
	position: relative;
	display: inline-block;
	width: 350px;
	text-align: right;
}

#kathmandu {
	height: 240px;
}

#gonzoft {
	height: 230px;
}

#vp-1 {
	height: 250px;
}

#vp-2 {
	height: 260px;
}

#accenture {
	height: 240px;
}

#latinux {
	height: 430px;
}

#elepe {
	height: 200px;
}
