#skills {
    background: #e0ebe8;
    padding-bottom: 40px;
}

#my-skills-anchor {
	position: absolute;
	top: 2610px;
}

.skill-name {
	font-weight: bold;
	float: left;
}

.skill-rating {
	float: right;
	position: relative;
	display: inline-block;
	width: 150px;
}

.soft-skills-line {
	width: 795px;
	 /*265px;*/
}

.rating-years  {
	font-weight: bold;
	float: right;
	display: inline-block;
	position: absolute;
	left: 130px;
	padding: 1px 2px 2px 20px;
	background: lightblue;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
}

.years-1 { width: 60px; }
.years-2 { width: 120px; }
.years-3 { width: 180px; }
.years-4 { width: 240px; }
.years-5 { width: 300px; }
.years-6 { width: 360px; }
.years-7 { width: 420px; }
.years-8 { width: 480px; }
.years-9 { width: 540px; }
.years-10 { width: 600px; }

.experience-years{
	text-align: center;
	position: relative;
	display: inline-block;
	background-color: #81b3d2;
	color: white;

	/*margin: 0px 5px;*/
	/*padding: 2px;*/
	/*border: 1px solid gray;*/
	/*border-top: 1px solid #ccc;*/
	
	/*	
	box-shadow: 0 0 20px #ccc;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	*/

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 26px;
	height: 18px;
	/*margin-top: -5px;	*/
}