#skills {
    background: #e0ebe8;
    padding-bottom: 15px;
}

.same-line {
   display: inline-block;
}

.skill-info {
	position: relative;
	text-align: center;
	color: white;
	width: 17px;
	background-color: #81b3d2; 
	margin-right: 5px;
	font-weight: bold;
	float: left;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 20px #ccc;	
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
}

.skill-name {
	font-weight: bold;
	float: left;
}

.skill-rating {
	float: right;
	position: relative;
	display: inline-block;
}

.soft-skills-line {
	width: 80%;
}

.rating-years  {
	border: 1px solid lightgray;
	display: inline-block;
	position: absolute;
	left: 130px;
	padding-left: 15px;
	background: #fff;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
}

.years-1 { width: 8%; }
.years-2 { width: 16%; }
.years-3 { width: 24%; }
.years-4 { width: 32%; }
.years-5 { width: 40%; }
.years-6 { width: 48%; }
.years-7 { width: 56%; }
.years-8 { width: 64%; }
.years-9 { width: 71%; }
.years-10 { width: 80%; }

.experience-years{
	text-align: center;
	position: relative;
	display: inline-block;
	background-color: #81b3d2;
	color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 26px;
	height: 18px;
}