/*Platforms*/
#wordpress-carousel-image {
	background: url("images/wordpress.jpg") no-repeat;
}
#moodle-carousel-image {
	background: url("images/moodle.jpg") no-repeat;
}
#magento-carousel-image {
	background: url("images/magento.jpg") no-repeat;
}
#sugarcrm-carousel-image {
	background: url("images/sugarcrm.jpg") no-repeat;
}
#drupal-carousel-image {
	background: url("images/drupal.jpg") no-repeat;
}

/*MVC Frameworks*/
#turbogears-carousel-image {
	background: url("images/turbogears.jpg") no-repeat;
}
#zend-carousel-image {
	background: url("images/zend.jpg") no-repeat;
}
#rails-carousel-image {
	background: url("images/rails.jpg") no-repeat;
}
#symfony-carousel-image {
	background: url("images/symfony.jpg") no-repeat;
}
#cakephp-carousel-image {
	background: url("images/cakephp.jpg") no-repeat;
}

/*JS Frameworks*/
#coffee-carousel-image {
	background: url("images/coffee.jpg") no-repeat;
}
#perl-carousel-image {
	background: url("images/perl.jpg") no-repeat;
}
#python-carousel-image {
	background: url("images/python.jpg") no-repeat;
}
#php-carousel-image {
	background: url("images/php.jpg") no-repeat;
}
#ruby-carousel-image {
	background: url("images/ruby.jpg") no-repeat;
}

/*Languages*/
#javascript-carousel-image {
	background: url("images/javascript.jpg") no-repeat;
}
#jquery-carousel-image {
	background: url("images/jquery.jpg") no-repeat;
}
#node-carousel-image {
	background: url("images/node.jpg") no-repeat;
}
#meteor-carousel-image {
	background: url("images/meteor.jpg") no-repeat;
}
#angular-carousel-image {
	background: url("images/angular.jpg") no-repeat;
}

/*Misc*/
#git-carousel-image {
	background: url("images/git.jpg") no-repeat;
}
#scrum-carousel-image {
	background: url("images/scrum.jpg") no-repeat;
}
#html5-carousel-image {
	background: url("images/html5.jpg") no-repeat;
}
#css3-carousel-image {
	background: url("images/css3.jpg") no-repeat;
}
#mysql-carousel-image {
	background: url("images/mysql.jpg") no-repeat;
}

.carousel-element-common {
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin: 20px 0;
	width: 225px;
	height: 225px;
}

.carousel-element-header {
	margin-bottom: 20px;
	height: 50px;
	font-size: 24px;
	font-weight: lighter;
	width: 100%;
	color: #81b3d2;
	background-color: #323232;
	padding-top: 20px;

	border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.carousel-category-title {
	font-weight: lighter;
	font-size: 32px;
}

.carousel-element-title {
	font-size: 24px;
}

#visualizer {
    background: #e0ebe8;
    padding-bottom: 60px;
}

#visualizer-anchor {

}

#carousel {
  	position: relative;
	background-color: white;
  	margin: 0 100px;
  	padding-bottom: 20px;
 	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#carousel div {
  /*width: 80%;*/
  /*height: 300px;*/
  /*padding: 50px;*/
}

.slick-prev:before, .slick-next:before {
  color:    silver;
}	