<template name="About">
    <div id="about-me-anchor"></div>
    <div id="about-me" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                ABOUT ME
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
            GUIDO ALLOATTI
        </div>
        <div id="about-me-image" class="circular centered"></div>
        <div id="about-me-title">
            Develop - Lead - Manage
        </div>
        <div id="about-me-location">
            Christchurch, NZ
        </div>
    </div>
</template>