<template name="About">
    <div id="about-me-anchor"></div>
    <div id="about-me" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                ABOUT ME
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
            GUIDO ALLOATTI
        </div>
        <div id="about-me-image" class="circular centered"></div>
        <div id="about-me-title">
            Ninja Developer || Team Lead || Technical Manager
        </div>
        <br>
        <div class="presentation">
            IT leader with years of experience building effective teams and bringing the business vision to life.
            Whether it's running the day to day operations of the development group, planning out a strategy for automation with a technical team, or working with product management to figure out how to capitalize on an opportunity, I love being the bridge between technology and business. I believe in hiring highly skilled people, building fully cross functional teams, giving them a clear vision of their goals, and then getting out of their way. 
        </div>
        <div id="about-me-location">
            <strong>Located in</strong>: Rosario, Santa Fe, Argentina
        </div>

    </div>
</template>