<template name="Background">
    <div id="background-anchor"></div>
    <div id="background" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                    BACKGROUND
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
        </div>
        <div class="content-text">
            <div class="background-left-column">
                <h2>Professional Career</h2>
                I have been working for almost 10 years in the Information Technology industry, fulfilling numerous roles on projects with a worldwide scope.
                <br>During this period I worked in several roles and 
                positions, always related to software development.
            </div>
            <div class="background-middle-column">
                <h2>Roles and Responsabilities</h2>
                ► Project Manager
                <br>► Team Leader
                <br>► Backend & Frontend Developer 
                <br>► QA & Automation Tester
                <br>► Systems Analyst & Software Architect
                <br>► Recruiting & perform Technical Interviews
            </div>
            <div class="background-right-column">
                <h2>Methodologies</h2>
                Waterfall development in the early beginnings but when 
                the opportunity presented itself to change I moved and focused my efforts on web applications specialization
                using company-wide Agile Methodologies adoption as 
                main tools, writing software applying several 
                scripting languages, such as PHP, Perl, Python or Ruby.
            </div>
        </div>
    </div>
</template>