<template name="Contact">
    <div id="contact-anchor"></div>
    <div id="contact" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                    CONTACT
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
        </div>
        <div id="message_sent" style="display: none;">
            Thanks for your contact, an email was sent <br>and I will get in touch very soon!
        </div>
        <div id="contact-div" class="middle-column">
            Please let me know your questions, suggestions and concerns by filling out the contact form below.
            <form id="contact-form">
                <br>First Name<div class="horizontal contact-required" id="missing_first_name" style="display: none;">Required</div>
                <br><input type="text" id="first_name" size="50"/>
                <br><br>Last Name<div class="horizontal contact-required" id="missing_last_name" style="display: none;">Required</div>
                <br> <input type="text" id="last_name" size="50"/>
                <br><br>Email<div class="horizontal contact-required" id="missing_email" style="display: none;">Required</div>
                <br><input type="text" id="email" size="50"/>
                <br><br>Phone (optional) 
                <br><input type="text" id="phone_number" size="50"/>
                <br><br>Subject<div class="horizontal contact-required" id="missing_subject" style="display: none;">Required</div>
                <br><input type="text" id="subject" size="50"/>
                <br><br>Message<div class="horizontal contact-required" id="missing_message" style="display: none;">Required</div>
                <br><textarea id="message" rows="8" cols="48" placeholder="Please enter your enquiry here..."></textarea>
                <br><br>
                <button class="btn">Submit Form</button>
            </form>                
        </div>
    </div>
</template>