<template name="Experience">
    <div id="my-work-anchor"></div>
    <div id="my-work" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                    EXPERIENCE
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
        </div>
        <div class="content-text">
            <div id="kathmandu" class="work-details">
                <div class="left-image-column">
                    <img src="images/kathmandu.jpg" width="200px" height="180px">
                </div>
                 <div class="middle-column">
                    <h2>Technical Team Lead & Senior Web Developer 
                    <br>► Kathmandu</h2>
                    <h3>From March 2015 to Present<br>Christchurch, NZ</h3>
                </div>
                <div class="right-column">
                    <br>► Leading and developing with a inter cultural and multi country based group of 10 people including front and backend developers and QA.
                    <br>► Working with PHP based Magento Enterprise Edition ecommerce platform, developing in the back and front end sides of the application.
                    <br>► Using GIT with Stash integration, Jira and confluence, with an unique and dynamic agile methodology based on Scrum.
                    <br>► Developing using PHP, JS, CSS industry code standards for front and back end.
                </div>
            </div>
            <hr class="hr-content-separator">
            <div id="gonzoft" class="work-details">
                <div class="left-image-column">
                    <img src="images/gonzoft.jpg" width="200px" height="180px">
                </div>
                 <div class="middle-column">
                    <h2>Full-stack developer & CTO 
                    <br>► Gonzoft</h2>
                    <h3>From November 2014 to Present<br>Christchurch, NZ</h3>
                </div>
                <div class="right-column">
                    <br>► Founded the company with a couple or really good friends to be able to work using the technologies we prefer, choosing carefully our clients and being able to create high quality software.
                    <br>► We are not attached to any particular technologies, developing using PHP, RAILS, AngularJS, MeteorJS, NodeJS and any new cool framework we can found.
                </div>
            </div>
            <hr class="hr-content-separator">
            <div id="vp-1" class="work-details">
                <div class="left-image-column">
                    <img src="images/velocity.jpg" width="200px" height="200px">
                </div>
                 <div class="middle-column">
                    <h2>Senior Team Lead & Solutions Manager <br>
                    ► Velocity Partners</h2>
                    <h3>From March 2012 to March 2015
                    <br>Rosario, AR</h3>
                </div>
                <div class="right-column">
                    <br>► Developing, leading and managing several teams for several clients, among them:
                    <li><strong>G2 Webservices:</strong> Solutions Manager and Senior Team Lead</li>
                    <li><strong>Kinnser:</strong> Solutions Manager</li>
                    <li><strong>WebAssign:</strong> Senior Team Lead</li>
                    <li><strong>iContact:</strong> Team Lead</li>
                    <li>Worked mainly with <strong>PHP</strong>, <strong>Ruby on Rails</strong> and <strong>Perl</strong></li>
                    <li>Implemented <strong>Testing Automation</strong>, <strong>Continuos Integration</strong>, <strong>Unit Testing and TDD</strong> to increase the software quality.</li>
                </div>
            </div>
            <hr class="hr-content-separator">
            <div  id="vp-2" class="work-details">
                <div class="left-image-column">
                    <img src="images/velocity.jpg" width="200px" height="200px">
                </div>
                 <div class="middle-column">
                    <h2>Senior Web Developer & Team Lead<br>
                    ► Velocity Partners</h2>
                    <h3>From November 2009 to March 2012
                    <br>Rosario, AR</h3>
                </div>
                <div class="right-column">
                    Developing and Leading a group of developers for <strong>Sungevity</strong>, a solar panel installation company located in California.
                    <li>Development of new functionalities and maintainance of current customer's CRM (Upgrade safe customization) and implementation of SugarCRM 5.5 Professional, a sales force automation aplication.</li>
                    <li>User portal development using CakePHP MVC Framework. It includes the integration and interaction with the CRM via Web Services)</li>
                    <li>Architecture research and design for application load balancing.</li>
                </div>
            </div>     
            <hr class="hr-content-separator">
            <div  id="accenture" class="work-details">
                <div class="left-image-column">
                    <img src="images/accenture.jpg" width="200px" height="200px">
                </div>
                 <div class="middle-column">
                    <h2>Senior Web Developer & Architect
                    <br>► Accenture</h2>
                    <h3>From February 2009 to November 2009<br>Rosario, AR</h3>
                </div>
                <div class="right-column">
                    ► As senior Developer in Accenture the responsibility is high and is related to the big amount of work that needs to be done every day it involves implementation and testing for all configuration changes to ensure that the software applications fulfil the functional requirements and technical requirements.
                    <br>► Responsible for supervising other developers with less experience and assisting the software architects according to their needs.
                    <br>► Accenture provides outsourcing and software factory to multinational corporations.
                </div>
            </div>
            <hr class="hr-content-separator">
            <div id="latinux" class="work-details">
                <div class="left-image-column">
                    <img src="images/latinux.jpg" width="200px" height="200px">
                </div>
                 <div class="middle-column">
                    <h2>Developer
                    <br>► Latinux</h2>
                    <h3>From February 2005 to November 2009<br>Rosario, AR</h3>
                </div>
                <div class="right-column">
                    <li>Started my developer career with a really mixed technologies combo, such as C, PHP, Python, Perl and C# worked on several small projects, from 2 to 6 months each. Some examples can be:</li>
                    <li><strong>Stock and Management System</strong>
                    Distributed stock and management control for construction companies in communications networks in C#.</li>
                    <li><strong>ZoneMinder CCTV control System</strong>
                    Customize Zoneminder open source in PHP with company specific contents.</li>
                    <li><strong>Traffic Light Control Visualizer</strong>
                    Display System traffic control, Processing system, data interpretation and sampling. Developed over Turbogears framework for Python.</li>
                    <li>
                    <strong>Reporter System</strong>
                    This was a intercommunication monitoring system for public telephony rates. Developed using linux native GTK, with C and Mysql.</li>
                    <li><strong>POS System</strong>
                    Develop and maintain a distributed point os sale for a local company with multiple stores. Developed in C# with Nhibernate and Mysql over .NET framework</li>
                </div>
            </div>
            <hr class="hr-content-separator">
            <div id="elepe" class="work-details">
                <div class="left-image-column">
                    <img src="images/elepe.jpg" width="200px" height="130px">
                </div>
                 <div class="middle-column">
                    <h2>Junior Developer
                    <br>► Elepe Servicios</h2>
                    <h3>From April 2004 to February 2005<br>Rosario, AR</h3>
                </div>
                <div class="right-column">
                    This was a part time job when finishing the University.
                    <br><strong>► Technologies in this Job:</strong>
                    <li>AS/400</li>
                    <li>Cool Plex (Case Tool)</li>
                    <strong>► Roles in this Job</strong>
                    <li>Junior Developer</li>
                    <li>QA</li>
                    <li>Technical Documentation Writer</li>
                    <li>Analyst</li>
                </div>
            </div>
        </div>
    </div>
</template>