<template name="Experience">
    <div id="my-work-anchor"></div>
    <div id="my-work" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                    EXPERIENCE
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
        </div>
      </div>
      <div>
        <div class="content-text">
            <div>
                <div class="left-experience">
                  <a href="http://www.kathmandu.co.nz" target="_blank">
                    <img src="images/kathmandu.jpg" width="140px" height="120px">
                  </a><br>
                  <a href="http://www.kathmandu.co.nz" target="_blank">
                    www.kathmandu.co.nz
                  </a>
                </div>
                <div class="right-experience">
                  <h3>Technical Team Lead & Senior Web Developer | 2015 | Christchurch, NZ</h3>
                  <ul>
                    <li>Leading and developing with a inter cultural and multi country based group of 10 people including front and backend developers and QA.</li>
                    <li>Working with PHP based Magento Enterprise Edition ecommerce platform, developing in the back and front end sides of the application.</li>
                    <li>Using GIT with Stash integration, Jira and confluence, with an unique and dynamic agile methodology based on Scrum.</li>
                    <li>Developing using PHP, JS, CSS industry code standards for front and back end.</li>
                  </ul>
                </div>
            </div>

            <hr class="hr-content-separator">
            <div>
              <div class="left-experience">
                <a href="http://www.gonzoft.com.ar" target="_blank">
                  <img src="images/gonzoft.jpg" width="140px" height="150px">
                </a><br>
                <a href="http://www.gonzoft.com.ar" target="_blank">
                  www.gonzoft.com.ar
                </a>
                </div>
                <div class="right-experience">
                  <h3>Full-stack developer & CTO | November 2014 to Present | Rosario, ARG</h3>
                  <ul>
                    <li>Founded the company with a couple or really good friends to be able to work using the technologies we prefer, choosing carefully our clients and being able to create high quality software.</li>
                    <li>We are not attached to any particular technologies, developing using PHP, RAILS, AngularJS, MeteorJS, NodeJS and any new cool framework we can found.</li>
                  </ul>
                </div>
            </div>

            <hr class="hr-content-separator">
            <div>
              <div class="left-experience">
                <a href="http://www.velocitypartners.net" target="_blank">
                  <img src="images/velocity.jpg" width="150px" height="150px">
                </a><br>
                <a href="http://www.velocitypartners.net" target="_blank">
                  www.velocitypartners.net
                </a>
                </div>
                <div class="right-experience">
                  <h3>Senior Team Lead & Solutions Manager | March 2012 to March 2015 | Rosario, ARG</h3>
                  <ul>
                    <li>Developing, leading and managing several teams for several clients, among them:</li>
                    <ul>
                      <li><strong>G2 Webservices:</strong> Solutions Manager and Senior Team Lead</li>
                      <li><strong>Kinnser:</strong> Solutions Manager</li>
                      <li><strong>WebAssign:</strong> Senior Team Lead</li>
                      <li><strong>iContact:</strong> Team Lead</li>
                    </ul>
                    <li>Worked mainly with <strong>PHP</strong>, <strong>Ruby on Rails</strong> and <strong>Perl</strong></li>
                    <li>Implemented <strong>Testing Automation</strong>, <strong>Continuos Integration</strong>, <strong>Unit Testing and TDD</strong> to increase the software quality.</li>
                  </ul>
                </div>
            </div>

            <div id="more_experience">
              <hr class="hr-content-separator">
              <div>
                <div class="left-experience">
                  <a href="http://www.velocitypartners.net" target="_blank">
                    <img src="images/velocity.jpg" width="150px" height="150px">
                  </a><br>
                  <a href="http://www.velocitypartners.net" target="_blank">
                    www.velocitypartners.net
                  </a>
                  </div>
                  <div class="right-experience">
                    <h3>Senior Web Developer & Team Lead | November 2009 to March 2012 | Rosario, ARG</h3>
                    <ul>
                      <li>Developing and Leading a group of developers for <strong>Sungevity</strong>, a solar panel installation company located in California.</li>
                      <li>Development of new functionalities and maintainance of current customer's CRM (Upgrade safe customization) and implementation of SugarCRM 5.5 Professional, a sales force automation aplication.</li>
                      <li>User portal development using CakePHP MVC Framework. It includes the integration and interaction with the CRM via Web Services)</li>
                      <li>Architecture research and design for application load balancing.</li>
                    </ul>
                  </div>
              </div>

              <hr class="hr-content-separator">
              <div>
                <div class="left-experience">
                  <a href="https://www.accenture.com/ar-es/" target="_blank">
                    <img src="images/accenture.jpg" width="150px" height="150px">
                  </a><br>
                  <a href="https://www.accenture.com/ar-es/" target="_blank">
                    www.accenture.com
                  </a>
                  </div>
                  <div class="right-experience">
                    <h3>Senior Web Developer & Architect | February 2009 to November 2009 | Rosario, ARG</h3>
                    <ul>
                      <li>As senior Developer in Accenture the responsibility is high and is related to the big amount of work that needs to be done every day it involves implementation and testing for all configuration changes to ensure that the software applications fulfil the functional requirements and technical requirements.</li>
                      <li>Responsible for supervising other developers with less experience and assisting the software architects according to their needs.</li>
                      <li>Accenture provides outsourcing and software factory to multinational corporations.</li>
                    </ul>
                  </div>
              </div>

              <hr class="hr-content-separator">
              <div>
                <div class="left-experience">
                  <a href="https://www.linkedin.com/vsearch/p?company=LATINUX+SISTEMAS+S%2EA%2E&trk=prof-0-ovw-curr_pos" target="_blank">
                    <img src="images/latinux.jpg" width="150px" height="150px">
                  </a><br>
                  </div>
                  <div class="right-experience">
                    <h3>Developer | February 2005 to November 2009 | Rosario, ARG</h3>
                    <ul>
                      <li>Started my developer career with a really mixed technologies combo, such as C, PHP, Python, Perl and C# worked on several small projects, from 2 to 6 months each. Some examples can be:</li>
                      <li><strong>Stock and Management System</strong>
                      Distributed stock and management control for construction companies in communications networks in C#.</li>
                      <li><strong>ZoneMinder CCTV control System</strong>
                      Customize Zoneminder open source in PHP with company specific contents.</li>
                      <li><strong>Traffic Light Control Visualizer</strong>
                      Display System traffic control, Processing system, data interpretation and sampling. Developed over Turbogears framework for Python.</li>
                      <li>
                      <strong>Reporter System</strong>
                      This was a intercommunication monitoring system for public telephony rates. Developed using linux native GTK, with C and Mysql.</li>
                      <li><strong>POS System</strong>
                      Develop and maintain a distributed point os sale for a local company with multiple stores. Developed in C# with Nhibernate and Mysql over .NET framework</li>
                    </ul>
                  </div>
              </div>

              <hr class="hr-content-separator">
              <div>
                <div class="left-experience">
                  <a href="http://www.elepeservicios.com.ar/" target="_blank">
                    <img src="images/elepe.jpg" width="150px" height="150px">
                  </a><br>
                  <a href="http://www.elepeservicios.com.ar/" target="_blank">
                    www.elepeservicios.com.ar
                  </a>
                  </div>
                  <div class="right-experience">
                    <h3>Junior Developer | April 2004 to February 2005 | Rosario, ARG</h3>
                    <ul>
                      <li>This was a part time job when finishing the University.</li>
                      <strong>► Technologies in this Job:</strong>
                      <li>AS/400</li>
                      <li>Cool Plex (Case Tool)</li>
                      <strong>► Roles in this Job</strong>
                      <li>Junior Developer</li>
                      <li>QA</li>
                      <li>Technical Documentation Writer</li>
                      <li>Analyst</li>
                    </ul>
                  </div>
              </div>           
            </div>
        <div>
          <input id="more_experience_button" class="centered" type="button" value="Show me More Experience" />
        </div>
      </div>
    </div>
</template>