<template name="Footer">
    <div id="footer">
        <div>
            <div class="connect">
                <div class="connect-title">
                    Get in touch!
                </div>
                <hr style="width: 450px;">
                <!-- <hr class="hr_square"> -->
                <div class="connect-elements">
                    <div class="connect-element">
                        <div class="connect-element-image">
                            <img src="images/github320x320.jpg" width="64px" height="64px">
                        </div>
                    </div>
                    <div class="connect-element">
                        <div class="connect-element-title">
                            Github
                        </div>
                        <div class="connect-element-text">
                            <a href="https://github.com/guidoalloatti" target="_blank">guidoalloatti</a>
                        </div>
                    </div>

                    <div class="connect-element">
                        <div class="connect-element-image">
                            <img src="images/linkedin320x320.jpg" width="64px" height="64px">
                        </div>
                    </div>
                    <div class="connect-element">
                        <div class="connect-element-title">
                            Linkedin
                        </div>
                        <div class="connect-element-text">
                            <a href="https://www.linkedin.com/profile/view?id=AAIAAAMBKWsBLeUqpRiWGp2fesG6WoKJuOWvctQ" target="_blank">Guido Alloatti</a>
                        </div>
                    </div>

                    <div class="connect-element">
                        <div class="connect-element-image">
                            <img src="images/facebook320x320.jpg" width="64px" height="64px">
                        </div>
                    </div>
                    <div class="connect-element">
                        <div class="connect-element-title">
                            Facebook
                        </div>
                        <div class="connect-element-text">
                            <a href="https://www.facebook.com/guido.alloatti" target="_blank">guido.alloatti</a>
                        </div>
                    </div>
                    <div class="connect-element">
                        <div class="connect-element-image">
                            <img src="images/skype320x320.jpg" width="64px" height="64px">
                        </div>
                    </div>
                    <div class="connect-element">
                        <div class="connect-element-title">
                            Skype
                        </div>
                        <div class="connect-element-text">
                            <a>guidoalloatti</a>
                        </div>
                    </div>

                    <div class="connect-element">
                        <div class="connect-element-image">
                            <img src="images/gmail320x320.jpg" width="64px" height="64px">
                        </div>
                    </div>
                    <div class="connect-element">
                        <div class="connect-element-title">
                            Email
                        </div>
                        <div class="connect-element-text">
                            <a href="mailto:guidoalloatti@gmail.com?Subject=Hi Guido!" target="_top">guidoalloatti@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>