<template name="Footer">
    <div id="footer">
        <div class="social-media-links">
            <div class="wrapper">
               <br>
                <span class="square individual">
                    <a class="tenth before after" href="https://github.com/guidoalloatti" target="_blank">Github: guidoalloatti</a>
                </span>
                <br><br>
                <span class="square individual">
                    <a class="tenth before after" href="https://www.linkedin.com/profile/view?id=AAIAAAMBKWsBLeUqpRiWGp2fesG6WoKJuOWvctQ" target="_blank">Linkedin: Guido Alloatti</a>
                </span>
                <br><br>
                <span class="square individual">
                    <a class="tenth before after" href="https://www.facebook.com/guido.alloatti" target="_blank">Facebook: guido.alloatti</a>
                </span>
                <br><br>
                <span class="square individual">
                    <a class="tenth before after">Skype: guidoalloatti</a>
                </span>
            </div>
        </div>
    </div>
</template>