<template name="Header">
    <div id="header">
        <a href="#top-anchor" class="circular-small"></a>
        <div id="main-header">
            <div class="centered">
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#about-me-anchor">ABOUT ME</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#background-anchor">BACKGROUND</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#my-work-anchor">EXPERIENCE</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#my-skills-anchor">SKILLS</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#contact-anchor">CONTACT</a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#spa" class="spanish-lang"></a>
        <a href="#eng" class="english-lang"></a>
    </div>
</template>