<template name="Header">
    <div id="header">
        {{> Locale}}
        <!-- <a href="#top-anchor" class="circular-small"></a> -->
        <div id="main-header">
            <div class="centered">
                <div class="horizontal">
                    <div>
                        <a href="#top">
                            <img src="images/go-top.jpg" title="Go to the top of the page" class="go-top-page" width="40px;" height="40px;">
                        </a>
                    </div>
                </div>            
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#about-me-anchor">{{_ "about-me"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#background-anchor">{{_ "background"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#my-work-anchor">{{_ "experience"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#my-skills-anchor">{{_ "skills"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#contact-anchor">{{_ "contact"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <div>
                        <a href="#bottom">
                            <img src="images/go-bottom.jpg" title="Go to the bottom of the page" class="go-bottom-page" width="40px;" height="40px;">
                        </a>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</template>

<template name="Locale">
    <div class="language-holder">
        <img src="images/english.jpg" title="Set Language English" alt="Set Language to English" id="english-link" class="english-lang language-element " width="40px;" height="40px;">
        <img src="images/spanish.jpg" title="Establecer idioma Español" alt="Establecer idioma Español" id="spanish-link" class="spanish-lang language-element " width="40px;" height="40px;">
    </div>
</template>