<template name="Header">
    <div id="header">
        <a href="#top-anchor" class="circular-small"></a>
        <div id="main-header">
            <div class="centered">
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#about-me-anchor">{{_ "about-me"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#background-anchor">{{_ "background"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#my-work-anchor">{{_ "experience"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#my-skills-anchor">{{_ "skills"}}</a>
                    </span>
                </div>
                <div class="horizontal">
                    <span class="square individual">
                        <a class="tenth before after" href="#contact-anchor">{{_ "contact"}}</a>
                    </span>
                </div>
            </div>
        </div>
                {{> Locale}}
    </div>
</template>

<template name="Locale">
        <a href="#spa" id="spanish-link" class="spanish-lang"></a>
        <a href="#eng" id="english-link" class="english-lang"></a>
</template>