<template name="Skillset">
  <div class="left">
      <svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="724px" height="400px"
     overflow="visible" xml:space="preserve">
      
      <g id="circleBarCharts">
          <g id="circleBar-web-group" transform="translate(0,0)">
            <image id="circleBar-web-icon" opacity="50" x="166" y="112" overflow="visible" width="98" height="77" xlink:href="http://www.frank-designs.com/images/icon_web.png" />
              <text id="circleBar-web-text" opacity="50" x="178" y="143">DEVELOP</text>
              <g id="circleBar-web-chart" transform="translate(215,150)"></g>
              <clippath id="circleBar-web-clipPath">
                  <rect id="circleBar-web-clipLabels" x="205" y="215" width="180" height="0"></rect>
              </clippath>
              <g id="circleBar-web-legend" >
              <!-- clip-path="url(#circleBar-web-clipPath)"> -->
                  <text id="circleBar-web-values" transform="translate(222,225)"></text>
                  <text id="circleBar-web-labels" transform="translate(277,225)"></text>
              </g>
          </g>

          <g id="circleBar-mvc-group" transform="translate(362,0)">
              <image id="circleBar-web-icon" opacity="50" x="166" y="112" overflow="visible" width="98" height="77" xlink:href="http://www.frank-designs.com/images/icon_web.png" />
              <text id="circleBar-mvc-text" opacity="50" x="177" y="143">MVC FWK</text>
              <g id="circleBar-mvc-chart" transform="translate(215,150)"></g>
              <clippath id="circleBar-mvc-clipPath">
                  <rect id="circleBar-mvc-clipLabels" x="205" y="215" width="150" height="0"></rect>
              </clippath>
              <g id="circleBar-mvc-legend" >
              <!-- clip-path="url(#circleBar-mobile-clipPath)"> -->
                  <text id="circleBar-mvc-values" transform="translate(222,225)"></text>
                  <text id="circleBar-mvc-labels" transform="translate(277,225)"></text>
              </g>
          </g>

          <g id="circleBar-js-group" transform="translate(724,0)">
              <image id="circleBar-web-icon" opacity="50" x="166" y="112" overflow="visible" width="98" height="77" xlink:href="http://www.frank-designs.com/images/icon_web.png" />
              <text id="circleBar-js-text" opacity="50" x="205" y="143">JS</text>
              <g id="circleBar-js-chart" transform="translate(215,150)"></g>
              <clippath id="circleBar-js-clipPath">
                  <rect id="circleBar-js-clipLabels" x="205" y="215" width="150" height="0"></rect>
              </clippath>
              <g id="circleBar-js-legend" >
              <!-- clip-path="url(#circleBar-mobile-clipPath)"> -->
                  <text id="circleBar-js-values" transform="translate(222,225)"></text>
                  <text id="circleBar-js-labels" transform="translate(277,225)"></text>
              </g>
          </g>
      </g>
    </svg>
  </div>
</template>