<template name="Development">
    <h3>Web Development</h3>
    <div>
    <ul>
        <li>HTML/5</li>
        <li>CCS/3</li>
        <li>Api</li>
        <li>Ajax</li>
        <li>XML</li>
        <li>CGI</li>
    </ul>
    </div>
    <h3>Tools and Software</h3>
    <div>
    <ul>
        <li>Development</li>
        <ul>
            <li>Sublime Text</li>
            <li>PHPStorm</li>
            <li>Eclipse</li>
            <li>Netbeans</li>
            <li>Visual Studio .NET</li>
            <li>Zend Studio</li>
            <li>Mono .NET</li>
            <li>Plex</li>
        </ul>
        <li>Amazon Web Services</li>
        <li>Atlassian Suite</li>
        <ul>
            <li>Jira</li>
            <li>Stash</li>
            <li>Confluence</li>
            <li>Crucible</li>
        </ul>
    </ul>
    </div>
    <h3>Methodologies</h3>
    <div>
    <ul>
      <li>Waterfall</li>
      <li>Agile</li>
        <ul>
            <li>Scrum</li>
            <li>Kanban</li>
            <li>Lean</li>
            <li>Extreme Programming</li>
        </ul>
    </ul>
    </div>
    <h3>Databases</h3>
    <div>
    <ul>
        <li>Mysql</li>
        <li>PostgreSQL</li>
        <li>SQL Server</li> 
        <li>MongoDB</li>
        <li>Redis</li>
        <li>DB4O</li>
        <li>Oracle</li>
    </ul>
    </div>
    <h3>Code Version</h3>
    <div>
    <ul>
        <li>SVN</li>
        <li>CVS</li>
        <li>Git</li> 
    </ul>
    </div>
    <h3>Frameworks</h3>
    <div>
    <ul>
        <li>PHP MVC</li>
        <ul>
            <li>CakePHP</li>
            <li>Zend</li>
            <li>Synfony</li>
            <li>Code Igniter</li>
        </ul>
        <li>Ruby</li>
        <ul>
            <li>Rails</li>
            <li>Sinatra</li>
        </ul>
        <li>Python</li>
        <ul>
            <li>Django</li>
            <li>Turbogears</li>
        </ul>
        <li>Javascript Tools and Frameworks</li>
        <ul>
            <li>jQuery</li>
            <li>jQueryUI</li>
            <li>Mootools</li>
            <li>Angular.js</li>
            <li>Node.js</li>
            <li>Meteor.js</li>
            <li>CoffeeScript</li>
        </ul>
    </ul>
    </div>
    <h3>CMS, CRM, ECOMM & ORM</h3>
    <div>
    <ul>
        <li>Drupal</li>
        <li>WordPress</li>
        <li>SugarCRM</li>
        <li>SalesForce</li>
        <li>Microsoft Dynamics CRM</li>
        <li>Magento</li>
        <li>Doctrine</li>
    </ul>
    </div>
    <h3>Soft Skills</h3>
    <div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">
                Team Player
            </div>
            <div class="accordion-text-left">
                Productive co-worked able to actively achieve the goals working closely with others team members understanding the project complexity and acting always for the best interest for  the team.
            </div>
        </div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">
                Communication
            </div>
            <div class="accordion-text-left">
                 Skilled communicator able to create open lines of communication between stakeholders, team members and customers
            </div>
        </div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">
                Leadership and Project Management
            </div>
            <div class="accordion-text-left">
                Efficient leader able to inspire and motivate staff to work together towards project oriented goals. Creating and updating the most important metrics for the team with the project required tools.
            </div>
        </div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">
                Problem-solving Mentality
            </div>
            <div class="accordion-text-left">
                Dynamic problem solver able to anticipate potential problems and create solutions to avert potential pitfalls.
            </div>
        </div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">
                Flexibility and Adaptability
            </div>
            <div class="accordion-text-left">
                Excellent response to rapid environmental changes with a focus on new and better technologies adoption.
            </div>
        </div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">
                Mentoring and Coaching
            </div>
            <div class="accordion-text-left">
                Pacient coaching for knowledge sharing from Programming Languages to Agile Methodologies.
            </div>
        </div> 
        <div class="accordion-left">
            <div class="accordion-text-header-left">Strong Work Ethics</div>
        </div>
        <div class="accordion-left">
            <div class="accordion-text-header-left">Friendly and positive</div>
        </div>            
        <div class="accordion-left">
            <div class="accordion-text-header-left">Conflict Solving</div>
        </div>
    </div>
</template>