<template name="Programming">
    <h3>Programming Languages</h3>
    <div>
    <ol class="rectangle-list">
        <div class="li_header">Scripting Languages</div>
            <ol>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">PHP</div>
                        <div class="rating-years years-9">9 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">Javascript</div>
                        <div class="rating-years years-8">8 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">Ruby</div>
                        <div class="rating-years years-4">4 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">Perl</div>
                        <div class="rating-years years-2">2 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">Python</div>
                        <div class="rating-years years-2">2 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">Bash</div>
                        <div class="rating-years years-6">6 Years</div>
                    </div>
                </li>
            </ol>
        <div class="li_header">Other Languages</div>
            <ol>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">C</div>
                        <div class="rating-years years-3">3 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">C++</div>
                        <div class="rating-years years-2">2 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">C#</div>
                        <div class="rating-years years-3">3 Years</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">PRO-C</div>
                        <div class="rating-years years-1">1 Year</div>
                    </div>
                </li>
                <li>
                    <div class="same-line">
                        <div class="skill-info">i</div>
                        <div class="skill-name">Java</div>
                        <div class="rating-years years-2">2 Years</div>
                    </div>
                </li>
            </ol>
        </ol>
    </div>
</template>