<template name="Skills">
    <div id="my-skills-anchor"></div>
    <div id="skills" class="centered">
        <div class="block-name">
            <div class="top-block-title">
                SKILLS
                <hr style="width: 350px;">
                <hr class="hr_square">
            </div>
        </div>
        {{> Skillset}}
        <!--
        <div>
            <input id="more_skills_button" class="centered" type="button" value="Show Me More Skills" />
        </div>
        -->
    </div>
</template>

<!-- <template name="Accordion">
    <div class="accordion-parent">
        <div id="accordion"> 
            {{> Programming}}
            {{> Development}}
        </div>
    </div>
</template> -->